# Abaikan semua file .log
*.log

# Abaikan folder build/ dan semua isinya
build/

# Abaikan semua file di folder temp kecuali file penting.txt
temp/*
!temp/penting.txt

# Abaikan file bernama rahasia.env
rahasia.env
